<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>LiveHub</title>
  </head>
  <body>
    <div id="container">
      <h1>LiveHub</h1>
      <video id="user"></video>
      <div id="others"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="peerjs.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
